*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
}

.section-02{
    background-color: aqua;
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-02 img{
    width: 300px;
    height: auto;
}

header div {
    padding: 15px;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



    
