*{
    margin: 0;
    padding: 0;
    font-family: playfair-display;
    font-style: none;
}

header {

    padding: 15px;

    background-color: aquamarine;

    display: flex;

    justify-content: space-around;

    align-items: center;
}

header img {

    width: 100px;

    height: auto;
}

.section-01 {

    background-color: antiquewhite;

    background-image: url(Imagens/125035-colecao-de-hooligans-do-vetor.jpg);

    padding: 250px;

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;

}

.section-02 {

    background-color: #0a4e46;

    background-color: #0a4e46;

    padding: 250px;

    background-repeat: no-repeat;

    background-size: cover;

    display: flex;

    justify-content: space-evenly;


}

.section-02 img{
    width: 300px;
    height: auto;
}


.section-03 {

    background-image: url(Imagens/Hooligans03.png);

    background-attachment: fixed;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    

}

.section-02 h2{
    color: burlywood;
    font-size: 20px;
    margin: 20px;
}

.section-02 p{
    color: aqua;
    font-size: 15px;
    margin: 25px;
}

.section-03 p{
    color: rgb(241, 10, 10);
    font-size: 25px;
    margin: 25px;
    font-weight: 900;
}

.section-03 h2{
    margin: 20px;
}

.section-01 button{
width: 150px;
height: 40px;
background-color:rgba(255, 255, 255, 0);
border-radius: 8px;
}


.section-01 button:hover{
    color: blue;
    transition: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: #0a4e46;
}



header nav ul{
    display: flex;
    /* tornamos nossa lista não ordenada em (flex) deixando os itens pertencentes a ela lado a lado */

}

/* Chamamos nossa lista (Li) para estilização */
header nav ul li{
    list-style: none;
    /* Estilo de lista desabilitado */
    margin-right: 10px;
    /* Espaçamento entre as (li) */

}

header nav ul li:hover{
color: burlywood;
transition: 0.8;
font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;

}


/* Aqui chamamos nossa ancora (a) para estilização */
header nav ul li a{
    text-decoration: none;
    /* Decoração do texto (Sublinhado) Desabilitado (none) */
    color: antiquewhite;
    /* Cor da letra */
}

footer ul li{
    list-style: none;
    margin-right: 10px;
    text-align: center;
  
}
        

footer {
    padding: 30px;
    background-color: #e7eeed;
    text-align: center;
}


footer ul li:hover{
    color: cornflowerblue;
    transition: 0.8;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilizamos o icone */
header i {
    color: rgb(10, 10, 10);
    /* cores do icone */
    font-size: 40px;
    /* Tamanho do icone */
    padding: 20px;
    /* Respiro/Preenchimento da cor de fundo */
    border-radius: 10px;
    /* Arredondamento da caixa */
    background-color: antiquewhite;
    /* Cor de fundo do elemento  */
}

/* Aplicando o efeito ao passar o mouse */
header i:hover{
    background-color: azure;
    /* Cor de fundo alterada */
    transition: 0.8;
    /* Transição do elemento */
}

/* Estilização tela 2 */


.section-tela2 {
    background-image: url(Imagens/Park.jpg);
    padding: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-tela2 p {
    font-size: 50px;
    color: white;
    font-weight: 300;
    background-color: rgba(128, 128, 128, 0.452);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.section-tela2 span {
    color: yellow;
    font-weight: bolder;
}

.section-nova {
    background: linear-gradient(180deg,#910142 8.33%, #130568 100%);
    padding: 50px;
    
}

.section-atual {
    background-color: blue;
    padding: 50px;
}

/* Div pai Dentro dele existe 3 caixas */
.div-pai {
    display: flex;
    /* Tornando os itens flex, deixando as caixas lado a lado */
    justify-content: center;
    /* Justificando os itens ao centro */
    margin-bottom: 20px;
}

/* Estilização das caixas (Div filho) */
.div-pai div {
    width: 200px;
    /* Largura da caixa */
    height: 280px;
    /* Altura da caixa */
    background-color: deeppink;
    /* Cor de fundo da caixa */
    margin-right: 20px;
    /* Espaçamento entre as caixas (Div) */
    border-radius: 10px;
    /* Arredonda as pontas das caixas */
    
}

.div-pai2 {
    display: flex;
    /* Tornando os itens flex, deixando as caixas lado a lado */
    justify-content: center;
    /* Justificando os itens ao centro */
}

.div-pai2 div {
    width: 200px;
    /* Largura da caixa */
    height: 280px;
    /* Altura da caixa */
    background-color: deeppink;
    /* Cor de fundo da caixa */
    margin-right: 20px;
    /* Espaçamento entre as caixas (Div) */
    border-radius: 10px;
    /* Arredonda as pontas das caixas */

}

.div-filho1 {
    background-image: url(Imagens/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-filho1:hover {
    width: 210px;
    height: 290px;
    transition: 0.8;
    border-radius: 10px;
}

.div-filho2 {
    background-image: url(Imagens/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    /* Margin bottom cria um espaçamento entre as img */
}

.div-filho2:hover{
    width: 210px;
    height: 290px;
    transition: 0.8;
    border-radius: 10px;
}


.div-filho3 {
    background-image: url(Imagens/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-filho3:hover{
    width: 210px;
    height: 290px;
    transition: 0.8;
    border-radius: 10px;
}


.div-filho4 {
    background-image: url(Imagens/img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-filho4:hover {
    width: 210px;
    height: 290px;
    transition: 0.8;
    border-radius: 10px;
}



.div-filho5 {
    background-image: url(Imagens/img5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-filho5:hover{
    width: 210px;
    height: 290px;
    transition: 0.8;
    border-radius: 10px;
}



.div-filho6 {
    background-image: url(Imagens/img6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-filho6:hover {
    width: 210px;
    height: 290px;
    transition: 0.8;
    border-radius: 10px;
}


.section-ultima {
    padding: 200px;
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-evenly;
}

.div-titulo h2 {
    color: antiquewhite;
    /* color muda a cor da letra */
    margin: 30px;
/* Margin altera o distanciamento de textos e img */
}


.div-titulo p {
    color: antiquewhite;
    /* color muda a cor da letra */
    margin: 30px;
    /* Margin altera o distanciamento de textos e img */
    font-size: 30px;
    /* font size, altera o tamanho do texto */
    font-weight: 300;
    /* fonte weight, altera o peso da letra */

}

.div-iframe iframe {
    border-radius: 15px;
    /* Muda a borda do mapa (e de outras coisas tambem */
    margin-right: 30px;
    /* Tag usada para aumentar espaçamento entre as coisas (texto, img etc) */
    
}


.rodape {
     padding: 100px;
     background-color: #f70a71;
     display: flex;
     align-items: center;
     /* Alinha ao mesmo parametro as img */
     justify-content: space-evenly;

}

.div-line img {
    width: 70px;
}